<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Add a new user</title>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}

        <link href="http://omscs.s3.amazonaws.com/css/WTM.css" rel="stylesheet" type="text/css" />

        <style type="text/css">
            <!--
            body {
                margin-left: 15px;
            }
            -->
        </style>
        
    </head>

    <body>
        <form id="form" name="form" method="post" action="user">
            <table width="755" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2">
                        <div id="header">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="175"><img src="http://omscs.s3.amazonaws.com/images/WTMbannerleft.gif" alt="Web TODO List" width="175" height="90" border="0" /></td>
                                    <td width="100%" background="http://omscs.s3.amazonaws.com/images/WTMbannerspacer.gif">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                <td valign="top" colspan="2"><div id="contentbox"> <fieldset> <legend>Instructions</legend>
                    <p>Red asterisk ( <span class="redtext">*</span> ) indicates a required
                        field.&nbsp; Please enter a Userid and Password and click on the
                        'Add New User' button to add the new userid and password to the
                        system.  Otherwise select the 'Return to Login' button to
                        return to the login page.</p>
                                  {% if error %}
          <p class="redtext"><strong>Error:</strong> {{ error }}</p>
          {% endif %}
                </fieldset>

                <div id="tables">
                    <div id="column2">
                        <ul>
                            <li> <span class="redtext">*</span>Userid: <label> <span class="fieldcell100">
                            <input type="text" name="username" id="username" maxlength="30" /></span></label>
                                <ul>
                                    <li><span class="redtext">*</span>Password: <span class="fieldcell300">
                                            <input type="password" name="password" id="password" maxlength="30" />
                                    </span> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <tr>
                    <td width="399">
                        <input type="submit" value="Add New User" />
                    </td>
                    <td width="352">
                        <div align="right">
                            <input type="button" onclick="window.location.href='../';" value="Return to Login" />
                        </div>
                    </td>
                    <td width="4">
                        <div align="left"> </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> </td>
                    <td width="4"> </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="footer"> <span align="center">
                                <div align="center"> &copy; Copyright 2014 Team 4<br />
                                </div>
                        </span></div>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="action" id="action" value="add" />
        </form>
    </body>
</html>

