<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Login</title>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        
        <link href="http://omscs.s3.amazonaws.com/css/WTM.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            <!--
            body {
                margin-left: 15px;
            }
            -->
        </style>

    </head>

    <body>
        <form id="form" name="form" method="post" action="login">
  <table width="755" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td colspan="2">
        <div id="header"> 
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td width="175"><img src="http://omscs.s3.amazonaws.com/images/WTMbannerleft.gif" alt="Web TODO List" width="175" height="90" border="0" /></td>
              <td width="100%" background="http://omscs.s3.amazonaws.com/images/WTMbannerspacer.gif">&nbsp;</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr> 
      <td valign="top" colspan="2"><div id="contentbox"> <fieldset> <legend>Instructions</legend> 
        <p>Red asterisk ( <span class="redtext">*</span> ) indicates a required 
          field.&nbsp; Please enter your Userid and Password and click on the 
          'Login' button to access your todo list. Otherwise select the 'Add New 
          User' button to add a new user to the system.</p>
          {% if error %}
          <p class="redtext"><strong>Error:</strong> {{ error }}</p>
          {% endif %}
        </fieldset> 
        <div id="tables"> 
          <div id="column2"> 
            <ul>
              <li> <span class="redtext">*</span>Userid: <label> <span class="fieldcell100"> 
              <input type="text" name="username" id="username" maxlength="30" /></span></label>
                <ul>
                  <li><span class="redtext">*</span>Password: <span class="fieldcell300"> 
                    <input type="password" name="password" id="password" maxlength="30" />
                    </span> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    <tr> 
      <td width="399">
          <input type="submit" value="Login" />
      </td>
      <td width="352"> 
        <div align="right">
          <input type="button" value="Add New User" onClick="window.location.href='/user';" name="button" />
        </div>
      </td>
      <td width="4"> 
        <div align="left"> </div>
      </td>
    </tr>
    <tr> 
      <td colspan="2"> </td>
      <td width="4"> </td>
    </tr>
    <tr> 
      <td colspan="2">
        <div id="footer"> <span align="center"> 
          <div align="center"> &copy; Copyright 2014 Team 4<br />
          </div>
          </span></div>
      </td>
    </tr>
  </table>
        </form>
    </body>
</html>
