<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="http://omscs.s3.amazonaws.com/css/theme.default.css">
    <link href="http://omscs.s3.amazonaws.com/css/WTM.css" rel="stylesheet" type="text/css" />
    <!-- calendar stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" href="http://omscs.s3.amazonaws.com/css/calendar-win2k-cold-1.css" title="win2k-cold-1" />
    <style type="text/css">
        <!--
        body {
            margin-left: 15px;
        }
        -->
    </style>
    <title>Task List</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}


</head>
<body>
<form id="form" name="form" method="post" action="item">
<table width="755" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td width="755">
        <div id="header">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="175"><img src="http://omscs.s3.amazonaws.com/images/WTMbannerleft.gif" alt="Web TODO List" width="175" height="90" border="0" /></td>
                    <td width="100%" background="http://omscs.s3.amazonaws.com/images/WTMbannerspacer.gif">&nbsp;</td>
                </tr>
            </table>
    </div></td>
</tr>
<tr>
    <td valign="top" width="100%"><div id="contentbox"> <fieldset> <legend>Instructions</legend>
        <p>To add a new task click the 'Add Task' button.  To edit a task, click the 'Edit' link on the
            task that you want to edit.  To delete a task click on the 'Delete' link on the task you want
        to delete.  Click on the column heading to sort the table by a particular heading.</p>
                  {% if error %}
          <p class="redtext"><strong>Error:</strong> {{ error }}</p>
          {% endif %}
    </fieldset>

    <fieldset>
        <legend>Task List for {{name}}</legend>

        <div id="tables">

            <table id="tasks" class="tablesorter" width="100%" cellpadding="3" cellspacing="0" summary="TODO tasks">
                <thead>
                    <tr>
                        <th width="8%">Change</th>
                        <th>
                            <div align="left">Task Name</div>
                        </th>
                        <th width="10%">
                            <div align="left">Due Date </div>
                        </th>
                        <th width="10%">
                            <div align="left">Priority</div>
                        </th>
                        <th width="8%">
                            <div align="left">Checked</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in records %}
                    <tr>
                        <td nowrap><a href="item?id={{row._id}}">Edit</a></td>
                        <td nowrap>{{row.name}}</td>
                        <td>{{row.duetime}}</td>
                        <td>{{row.priority}}</td>
                        <td>{{row.checked}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td nowrap>&nbsp;</td>
                        <td nowrap>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" name="button" onClick="window.location.href='item'" value="Add Task">
                        </td>
                        
                        <td height="27" colspan="3">
                            <div align="center">
                            {% if not hidden %}
                                <input type="button" property="hide" value="Hide Checked Tasks" onClick="window.location.href='tasklist?hide=true';" name="button" />
                            {% else %}
                                <input type="button" property="hide" value="Unhide Checked Tasks" onClick="window.location.href='tasklist';" name="button" />
                            {% endif %}
                            </div>
                        </td>

                        <td height="27">
                            <div align="right">
                                <input type="button" property="cancel" value="Log Off" onClick="window.location.href='logout';" name="button" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <p>
    <tr>
        <td>
            <div align="center"> </div>
        </td>
    </tr>
    <td></fieldset>

    <tr>

        <td>
            <div id="footer"> <span align="center">
                    <div align="center"> &copy; Copyright 2014 Team4 <br /></div>

        </span></div></td>
    </tr>
<td></tr>

</table>
</form>
</body>
</html>
