<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="http://omscs.s3.amazonaws.com/css/WTM.css" rel="stylesheet" type="text/css" />
        <!-- calendar stylesheet -->
        <link rel="stylesheet" type="text/css" media="all" href="http://omscs.s3.amazonaws.com/css/calendar-win2k-cold-1.css" title="win2k-cold-1" />
        <!-- main calendar program -->
        <script type="text/javascript" src="http://omscs.s3.amazonaws.com/js/calendar.js"></script>
        <!-- language for the calendar -->
        <script type="text/javascript" src="http://omscs.s3.amazonaws.com/js/calendar-en.js"></script>
        <!-- the following script defines the Calendar.setup helper function, which makes
        adding a calendar a matter of 1 or 2 lines of code. -->
        <script type="text/javascript" src="http://omscs.s3.amazonaws.com/js/calendar-setup.js"></script>
        <style type="text/css">
            <!--
            body {
                margin-left: 15px;
            }
            -->
        </style>

        <title>Task View</title>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}


    </head>

    <body>
        <form id="form" name="form" method="post" action="item{% if task._id %}?id={{task._id}}{% endif %}">
            <table width="874" border="0">
                <tr>
                    <td width="868"><img src="http://omscs.s3.amazonaws.com/images/logo.PNG" width="755" height="90" /></td>
                </tr>
            </table>
            <td align="right" valign="top"><div id="contentbox">
            <fieldset>
                <legend>Instructions</legend>
                <p>Red asterisk ( <span class="redtext">*</span> ) indicates a  required field.&nbsp; To  add Medical Information, enter requested information and click on &ldquo;Add Medical  Information&rdquo; to save this information.&nbsp;  To add additional Medical Information, repeat steps listed above.&nbsp; When finished, click on &ldquo;Submit&rdquo; at bottom of page to save this information.</p>
                          {% if error %}
          <p class="redtext"><strong>Error:</strong> {{ error }}</p>
          {% endif %}
            </fieldset>

            <fieldset>
                <legend>Task Information</legend>

                <div id="tables">
                    <div id="column2">
                        <ul>
                            <li>
                                <span class="redtext">*</span>Task Due Date:
                                <label>
                                    <span class="fieldcell100">
                                        <input type="text" id="dueDate" name="dueDate" maxlength="10" value="{{task.dueDate}}" />
                                        <img src="http://omscs.s3.amazonaws.com/images/img.gif" alt="Click here to open calendar." id="f_trigger_m" style="cursor: pointer; border: 1px solid #6699CC;" title="Date selector" onmouseover="this.style.background='#6699CC';" onmouseout="this.style.background=''" />
                                </span>&nbsp;&nbsp;(MM/DD/YYYY) </label>
                                <ul>
                                    <li><span class="redtext">*</span>Task Name:
                                        <span class="fieldcell300">
                                            <input type="text" name="task" maxlength="100" value="{% if task._id %}{{task.name}}{% endif %}" placeholder="New task" />
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div id="column2">
                        <ul>
                            <li><span class="redtext">*</span>Task Priority:
                                <label>
                                    <span class="fieldcell25">
                                        <select id="priority" name="priority">
                                            <option value="0" {% if task.priority == 0 %}selected="selected"{% endif %}>Low</option>
                                            <option value="1" {% if task.priority == 1 %}selected="selected"{% endif %}>Medium</option>
                                            <option value="2" {% if task.priority == 2 %}selected="selected"{% endif %}>High</option>
                                        </select>
                                    </span>
                                </label>
                                <ul>
                                    <li>Task Checked:
                                        <label>
                                            <span class="fieldcel50">
                                                <input type="checkbox" name="checked" {% if task.checked %}checked{% endif %}/>
                                            </span>
                                        </label>
                                    </li>
                                    </ul>

                                    <li>Task Note:
                                        <label>
                                            <span class="fieldcell300">
                                                <input type="text" name="note" id="note" value="{{task.note}}" maxlength="100" />
                                            </span>
                                        </label>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="tables">
                <div id="column2">
                    <ul>
                        <li>
                            <label>
                                <input  type="submit" name="submit" value="Edit Task" />
            
                                {% if task._id %}<input type="submit" name="submit" value="Delete Task" />{% endif %}


                            </label>
                            <ul>
                                <li>
                                    <div align="right">
                                        <input type="button" property="cancel" value="Return to Task List " onclick="history.go(-1);return true;" name="button" />
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>


            </fieldset>
            <tr>
                <td><div id="footer"> <span align="center">
                            <div align="center"> &copy; Copyright 2014 Team4 <br /></div>

                </span></div></td>
            </tr>
            </tr>
            </table>

        </form>
        <script type="text/javascript">
            Calendar.setup({
                inputField     :    "dueDate",     // id of the input field
                ifFormat       :    "%Y-%m-%d",    // format of the input field
                button         :    "f_trigger_m", // trigger for the calendar (button ID)
                align          :    "Tl"           // alignment (defaults to "Bl")
            });
        </script>
        <script>
            ddate = new Date();
            dm = ddate.getMonth() + 1;
            if (dm < 10) {dm = "0" + dm};
            dd = ddate.getDate();
            if (dd < 10) {dd = "0" + dd}
            d = ddate.getFullYear() + "-" + dm + "-" + dd;
            document.getElementById('dueDate').value = d;
        </script>
    </body>
</html>
